.btn{
    border: 2px solid #000 !important;
    cursor: pointer;
    
  }
.errMsg{
  color:red;
}
input{
  float: left;
  flex: 0 0 200px;
  width: 10%;
}
label{
  float: left;
  clear:left;
  display: block;
  width: 100%;
}